services:
  - type: web
    name: ecfobooks
    runtime: ruby
    plan: starter
    repo: https://github.com/curielmc/qbo-reports
    branch: master
    buildCommand: |
      gem install bundler
      bundle lock --add-platform x86_64-linux
      bundle config set --local without 'development test'
      bundle install
      echo "module.exports=()=>({postcssPlugin:'postcss-preset-env',Once(){}});module.exports.postcss=true;" > node_modules/postcss-preset-env/index.js
      echo '{"name":"postcss-preset-env","version":"0.0.0","main":"index.js"}' > node_modules/postcss-preset-env/package.json
      NODE_OPTIONS=--openssl-legacy-provider bundle exec rake assets:precompile
    preDeployCommand: bundle exec rake db:migrate
    startCommand: bundle exec puma -C config/puma.rb
    envVars:
      - key: DATABASE_URL
        value: postgresql://ecfobooks:mmVulK0rYKmqeSn3EEA953F4VMeiHHRC@dpg-d5vsdpd6ubrc73cqrsm0-a.oregon-postgres.render.com/ecfobooks_production
      - key: RAILS_MASTER_KEY
        value: 27df8db82cab9b206e5fe2ced05d4ad3
      - key: RAILS_ENV
        value: production
      - key: SECRET_KEY_BASE
        value: 674e5412ce984b856cc6234a2ab44cf07f7d3613c61c0de8f804e9bc3659f8f9ee806461c015dcf4dfd15f411933d3bfea4dd2fb13271586f38557052cfa36c5
      - key: RAILS_LOG_TO_STDOUT
        value: "true"
